/target

# Cargo lock files for libraries (optional)
/Cargo.lock

# Backup & temp files
**/*.rs.bk
*.swp
*.swo

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/
*.iml

/build

/plugins

/plugin-interface/target
/plugin-interface/Cargo.lock
/plugin-interface/wit/deps
/plugin-interface/wit/_cache

/touring-bridge/target
/touring-bridge/Cargo.lock

/test
